

  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
     
      
      <div style="width: 500px; height: 500px; border: 2px solid gold;border-radius: 20%; display: flex; flex-direction: column; justify-content: center; align-items: center;" id="remote-video">
        <h5 style="margin-top: 20px;font-size: 15px;">Voice Call</h5>
        <img [src]="this.imagePath" alt="userImage" class="avatar" style="width: 300px; height: 300px; border-radius: 50%;" />
        <p class="username"style="margin-top: 50px;font-size: 60px;">{{ this.userName }}</p>
        <div *ngIf="ringing" style="margin-top: 30px;font-size: 12px;">Ringing...</div>
        <!-- <div *ngIf="ringing" style="margin-top: 30px; font-size: 12px;">
          <mat-icon class="fas fa-bell fa-pulse" style="font-size: 40px;
          height: fit-content;
          width: fit-content;"style="color: blue; margin-right: 10px; background-color: antiquewhite;">volume_down</mat-icon> Ringing...
         
        </div> -->
      </div> 
     

      
      
     
      <br>
      
      <div style="margin-top: 20px; display: flex; justify-content: space-around;">
        <button class="button" (click)="connectWithPeer()" *ngIf="!isInCall && !incomingCall && !ringing" style="color: white; background-color: green; border-radius: 50%;width: 100px;height: 100px;">
          <mat-icon style="font-size: 40px;
          height: fit-content;
          width: fit-content;">phone</mat-icon>
        </button>
        
        <button class="button" (click)="screenShare()" *ngIf="isInCall">
          Screen share
        </button>
        
        <button class="button" *ngIf="incomingCall" (click)="answerCall()" style="color: white; background-color: green;border-radius: 50%;width: 100px;height: 100px;">
          <mat-icon  style="font-size: 40px;
          height: fit-content;
          width: fit-content;">settings_phone</mat-icon>
        </button>
        
        <button class="button"  (click)="endCall()" style="color: white; background-color: red;border-radius: 50%;width: 100px;height: 100px;">
          <mat-icon  style="font-size: 40px;
          height: fit-content;
          width: fit-content;">call_end</mat-icon>
        </button>
        
        <button class="button" *ngIf="isInCall" (click)="endCall()" style="color: white; background-color: rgb(218, 144, 144);border-radius: 50%;width: 100px;height: 100px;">
          <mat-icon  style="font-size: 40px;
          height: fit-content;
          width: fit-content;">call_end</mat-icon>
        </button>
      </div>
    </div>
  </div>
 