<div>
    <h5>Voice Call</h5>
    
     Video & screen share container 
     
    <div  style="width: 300px; height: 250px; border: 2px solid" id="remote-video">
      <img [src]=" this.imagePath"
      alt="userImage"
      class="avatar"
 />
   />
   <p class="username">{{ this.userName}}</p>
    </div> 
    <div *ngIf="ringing">Ringing...</div>
    <br>
    <div style="margin-top: 20px;">
     
      <button class="button" (click)="connectWithPeer()" *ngIf="!isInCall && !incomingCall && !ringing" style="color: white;background-color: green;"><mat-icon>phone</mat-icon></button>
      <button class="button" (click)="screenShare()" *ngIf="isInCall">Screen share</button>
      <button class="button" *ngIf="incomingCall" (click)="answerCall()" style="color: white;background-color: green;"><mat-icon>settings_phone</mat-icon></button>
      <button class="button" *ngIf="incomingCall" (click)="declineCall()" style="color: white;background-color: red;"><mat-icon>call_end</mat-icon></button>
      <button class="button" *ngIf="isInCall" (click)="endCall()" style="color: white;background-color: rgb(218, 144, 144);"><mat-icon> call_end</mat-icon></button>
     
    </div>
  </div>
  