.bordered-image {
    width: 30px;
}


.setText {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    padding: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

.setText mat-icon {
    margin-right: 5px;
}
.liked {
    color: blue; /* Change text color to blue when liked */
  }
  
  .liked mat-icon {
    color: blue; /* Change icon color to blue when liked */
  }
.card{
    margin-bottom: 15px;
}
.post-container {
    height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrollbar */
  }
  .icon-group {
    display: flex;
    align-items: center;
}
.setUsername{
    margin-right:28rem;
}
.image-container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    width: 100%;
    margin-top: 10px;
  }