.menu-spacer {
    flex: 1 1 auto;
  }
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .search-icon-container {
    position: relative;
    margin-left: -30px; /* Adjust this value to position the icon as needed */
  }
  
  .search-icon-container mat-icon {
    position: absolute;
    top: -26px;
    right: -1px; /* Adjust this value to position the icon as needed */
    cursor: pointer;
  }
  .bordered-image {
    width: 30px;
    }

    .nav-item {
      display: flex;
      flex-direction: column; /* Set flex-direction to column for top to bottom layout */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */
      height: 100px; /* Adjust height as needed */
    }
    
    .nav-link {
      text-decoration: none;
      color: inherit;
    }
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .popup {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
   .right-side{
      margin-left: 15rem;
   } 
    
    .popup-content {
      /* Add styles for popup content */
      width: 27rem;
    }
    .bordered-image {
      width: 30px;
      }
   .hashtag{
      color: rgb(4, 0, 255);
   }
   .setText{
      margin-left: 18px;
      margin-top: 20px;
      padding: 2px;
  }
  .setAnyOne{
      margin-top: -31px;
      margin-left: 45px;
  }
  .languageIcon{
      margin-top: -4px;
  }
  .setText {
      display: flex;
      align-items: center;
    }
    
    .icon-container {
      margin-right: 10px; /* Adjust margin as needed */
    }
    
    .text-container {
      /* Add styles as needed */
      margin-top: -12px;
    }
     .left-image {
      width: 200px;  /* Adjust as needed */
      height: 150px; /* Adjust as needed */
      border-radius: 10%; /* Optional: to make the image circular */
       margin-top: 10px;
       align-content: center;
    } 
    
    .error {
      color: red;
      margin-top: 10px;
    }
    .image-container {
      display: flex;
      justify-content: center; /* Centers the image horizontally */
      width: 100%;
      margin-top: 10px;
    }
    ::ng-deep .dropdown-menu {
      left: unset !important;
      right: 0 !important;;
  }

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 44px !important;
      border-radius: 12px !important;
      background-color: white !important;
      color: aqua !important;
      box-shadow: 0 2px 4px rgba(37, 37, 37, 0.2); /* Example box shadow */
    }
    ::ng-deep  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
       color: green !important; 
  }

    .example-full-width {
      width: 100%;
    }
    