.row {
    margin-top: 7rem;
   
  }
 
  .left-image {
    width: 60px;
    display: flex;
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
}
.card-text{
  display: flex;
}
.admin-background {

  background-image: url(../../../assets/img/pngtree-gold-color-award-ribbon-batch-logo-icon-vector-graphic-designing-for-png-image_7107908.png);
  background-size: 80px 80px; /* Adjust the size as per your requirement */
  background-repeat: no-repeat;
  background-position: top right; 
}

::ng-deep .card{
  position: static!important;
 }    
