<app-header></app-header>
<div class="container">
    <div class="row" >
        <div class="col-lg-2"style="margin-top:-50px">
           <!-- <app-profile-summary></app-profile-summary> -->
        </div>
        <div class="col-lg-8"style="margin-top:-50px">
            <app-start-post></app-start-post>
            <hr>
            <app-all-post></app-all-post>
        </div>
        <div class="col-lg-2"style="margin-top:-50px">

         <app-advertising></app-advertising>
        </div>
    </div>
</div>