<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">

                <div class="card-body">
                    <div><img src="../../../assets/img/download.jpg" class=" left-image" alt="...">
                    </div>
                    <h5 class="card-title">Akhand</h5>
                    <p class="card-text">Full stack-developer</p>
                    <hr>
                    <div class="card-text">
                        <div class="textfield">
                            who viewed your profile :
                        </div>
                        <div class="numberfield" style="color:blue; margin-right:5px"><span>746</span>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="textfield">
                            connection :
                        </div>
                        <div class="numberfield" style="color:green;margin-right:5px"><span>500</span>
                        </div> 
                    </div>
                    <p class="card-text">Manage your network</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <app-start-post></app-start-post>
            <hr>
            <app-all-post></app-all-post>
        </div>
        <div class="col-lg-3">

         <app-advertising></app-advertising>
        </div>
    </div>
</div>