<div class="card">
    <div class="card-body">
        <h5 class="card-title">Today's most views courses</h5>
        <h6 class="card-text">1.High performance habits</h6>
        <p class="card-text">Akhand ||Developer</p>
        <h5 class="card-text">2.Leadership</h5>
        <p class="card-text">Raj ||manager</p>
        <h5 class="card-text">3.Success-mantra</h5>
        <p class="card-text">smart ||hard-work</p>
        <p class="card-text">views all recommendations -></p>
    </div>
</div>