<div class="popup-overlay">
    <div class="popup">

        <div class="popup-content">
            <!-- Add your popup content here -->
            <div class="d-flex">
                <h5>{{changeHeaderName}}</h5>
                <button (click)="closePopup()" class="close-btn right-side">&times;</button>
            </div>
            <hr>
            <form class="was-validated">
                <div class="mb-3">
                    <div class="d-flex">
                        <img [src]="picture ? picture : imageUrl" class="card-img-top bordered-image" alt="image">
                        <div>
                            <p style="margin-left: 20px;">{{userName}}</p>
                            <div class="form-control "
                                style="border-radius: 20px; width: 160px;height: 30px;margin-left: 5px;">
                                <div class="languageIcon"> <mat-icon>language</mat-icon></div>
                                <div class="setAnyOne">
                                    <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Anyone
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Akhand</a></li>
                                        <li><a class="dropdown-item" href="#">Raj</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                    <textarea class="form-control is-invalid" id="validationTextarea" style="margin-top:10px"
                        placeholder=" What do you want to talk about..." required [(ngModel)]="datamessage"
                        name="datamessage"></textarea>
                    <!-- <div  class="image-container">
                        <input type="file" #fileUpload (change)="onFileSelect($event)" style="display: none;" />
                        <img *ngIf="selectedImage" [src]="selectedImage" alt="" (click)="fileUpload.click()" style="cursor: pointer;"
                            class="left-image">
                        <div class="error"></div>
                    </div> -->
                    <div class="image-container">
                        <input type="file" #fileUpload (change)="onFileSelect($event)" accept="image/*, video/*" style="display: none;" 
                        />
                        <img *ngIf="selectedImage && !isVideo" [src]="selectedImage" alt="" (click)="fileUpload.click()" style="cursor: pointer;" class="left-image">
                        <video *ngIf="selectedVideo && isVideo" [src]="selectedVideo" controls (click)="fileUpload.click()" style="cursor: pointer;" class="left-image"></video>
                        <div class="error"></div>
                        <div>
                     <img *ngIf="selectImage && !selectedImage && !selectedVideo " [src]=" 'http://localhost:3000/api/feed/image/' + selectImage " class="left-image" alt="image">

                        </div>
                    </div>
                    
                    <div class="invalid-feedback">
                        <p class="hashtag">Add hashtag</p>
                    </div>
                    <div class="d-flex">

                        <p class="setText"><mat-icon>library_add</mat-icon></p>
                        <div class="setText">
                            <mat-icon style="margin-top: -12px;cursor: pointer;" (click)="fileUpload.click()">wallpaper</mat-icon>

                        </div>

                        <p class="setText"><mat-icon (click)="fileUpload.click()" style="cursor: pointer;">play_circle_filled</mat-icon></p>
                        <p class="setText"> <mat-icon>event</mat-icon></p>
                        <div class="setText">
                            <div class="icon-container">
                                <mat-icon>chat</mat-icon>
                            </div>
                            <div class="text-container">AnyOne</div>
                        </div>

                        <button class="setText" (click)="onPost()"
                            style="background-color: rgb(0, 119, 255);height: 40px;width: 70px; margin-left: 20px;color: aliceblue;">Post<mat-icon>send</mat-icon></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>