
<div class="container">
    <div class="row">
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
        <div class="col-lg-8" style="margin-top:50px">
            <div class="card">
                <div class="image-container">
                
                        <input type="file" #backgroundfileUpload (change)="onbackgroundfileselect($event)" style="display: none;"/>
                        <img [src]="backgroundimageUrl" alt="Profile Image"(click)="backgroundfileUpload.click()"style="cursor:pointer" class=" background-image" alt="...">
                        <div class="error">
                            {{ getErrorMessage("backgroundimage") }}
                          </div>
                        </div>
                    <div class="corner-image-container" [ngClass]="{'admin-background': role === 'admin'}">
                        <div  class="corner-image">
                            <input type="file" #fileUpload (change)="onfileselect($event)" style="display: none;"/>
                            <img [src]="imageUrl" alt="Profile Image"(click)="fileUpload.click()"style="cursor:pointer" class=" left-image" alt="...">
                            <div class="error">
                                {{ getErrorMessage("image") }}
                              </div>
                        </div>
                </div>


                <div class="card-body">
                    <h4 class="card-title " style="margin-top: 30px;">{{userName}}</h4>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: red;"><mat-icon>mail</mat-icon>{{email}}</h4>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: aqua;"><mat-icon>phone</mat-icon>{{phoneNumber}}</h4>
                    <h5 class="card-title">Full Stack Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <button (click)="addUser()" class="btn btn-primary"  [disabled]="friendRequestStatus">connect</button> -->

                    <button class="custom-button message-button">Open to</button>
                    <button class="custom-button more-button">Add section</button>

                </div>
            </div>
        </div>
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
        

        <div class="col-lg-8" style="margin-top:50px">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title " style="margin-top: 30px;">Resources</h2>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: green;"><mat-icon>group</mat-icon>My network</h4>
                    <p class="card-text">See and manage your connections and interests.</p>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: aqua;"><mat-icon>article</mat-icon>Saved items</h4>
                    <p class="card-text">Keep track of your jobs, courses, and articles</p>
                </div>
                </div>
        </div>
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
        <div class="col-lg-8" style="margin-top:50px">
            <div class="card">
                


                <div class="card-body">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h2 class="card-title " style="margin-top: 30px;">About</h2>
                    <button class=""style="border: none; background: none;"><mat-icon>edit</mat-icon></button>
                </div>
                    <textarea class="form-control is-invalid" id="validationTextarea" style="margin-top:10px"
                    placeholder=" What do you want to talk about..." required [(ngModel)]="datamessage"
                    name="datamessage"></textarea>

                </div>
            </div>
        </div>
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
    </div>
</div>
