
<div class="container">
    <div class="row">
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
        <div class="col-lg-8" style="margin-top:50px">
            <div class="card">
                <div class="image-container">
                
                        <input type="file" #backgroundfileUpload (change)="onbackgroundfileselect($event)" style="display: none;"/>
                        <img [src]="backgroundimageUrl" alt="Profile Image"(click)="backgroundfileUpload.click()"style="cursor:pointer" class=" background-image" alt="...">
                        <div class="error">
                            {{ getErrorMessage("backgroundimage") }}
                          </div>
                        </div>
                    <div class="corner-image-container" [ngClass]="{'admin-background': role === 'admin'}">
                        <div  class="corner-image">
                            <input type="file" #fileUpload (change)="onfileselect($event)" style="display: none;"/>
                            <img [src]="imageUrl" alt="Profile Image"(click)="fileUpload.click()"style="cursor:pointer" class=" left-image" alt="...">
                            <div class="error">
                                {{ getErrorMessage("image") }}
                              </div>
                        </div>
                </div>


                <div class="card-body">
                    <h4 class="card-title " style="margin-top: 30px;">{{userName}}</h4>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: red;"><mat-icon>mail</mat-icon>{{email}}</h4>
                    <h4 class="card-title " style="margin-top: 30px;"style="color: aqua;"><mat-icon>phone</mat-icon>{{phoneNumber}}</h4>
                    <h5 class="card-title">Full Stack Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <button (click)="addUser()" class="btn btn-primary"  [disabled]="friendRequestStatus">connect</button> -->

                    <button class="custom-button message-button">Open to</button>
                    <button class="custom-button more-button">Add section</button>

                </div>
            </div>
        </div>
        <div class="col-lg-2" style="margin-top:-50px">

        </div>
    </div>
</div>



<!-- <div class="card">

    <div class="card-body" [ngClass]="{'admin-background': role === 'admin'}">
        <div>
            <input type="file" #fileUpload (change)="onfileselect($event)" style="display: none;"/>
            <img [src]="imageUrl" alt="Profile Image"  (click)="fileUpload.click()"style="cursor:pointer" class=" left-image" alt="...">
            <div class="error">
                {{ getErrorMessage("image") }}
              </div>
        </div>
        <h5 class="card-title">{{userName}}</h5>
        <p class="card-text">Full stack-developer</p>
        <hr>
        <div class="card-text">
            <div class="textfield">
                who viewed your profile :
            </div>
            <div class="numberfield" style="color:blue; margin-right:5px"><span>746</span>
            </div>
        </div>
        <div class="card-text">
            <div class="textfield">
                connection :
            </div>
            <div class="numberfield" style="color:green;margin-right:5px"><span>500</span>
            </div> 
        </div>
        <p class="card-text">Manage your network</p>
    </div>
</div> -->