<div class="card">

    <div class="card-body" [ngClass]="{'admin-background': role === 'admin'}">
        <div>
            <input type="file" #fileUpload (change)="onfileselect($event)" style="display: none;"/>
            <img [src]="imageUrl" alt="Profile Image"  (click)="fileUpload.click()"style="cursor:pointer" class=" left-image" alt="...">
            <div class="error">
                {{ getErrorMessage("image") }}
              </div>
        </div>
        <h5 class="card-title">{{userName}}</h5>
        <p class="card-text">Full stack-developer</p>
        <hr>
        <div class="card-text">
            <div class="textfield">
                who viewed your profile :
            </div>
            <div class="numberfield" style="color:blue; margin-right:5px"><span>746</span>
            </div>
        </div>
        <div class="card-text">
            <div class="textfield">
                connection :
            </div>
            <div class="numberfield" style="color:green;margin-right:5px"><span>500</span>
            </div> 
        </div>
        <p class="card-text">Manage your network</p>
    </div>
</div>