<!-- 
<div class="d-flex align-items-center">
     <asl-google-signin-button type="icon" size="large" class="me-3" (click)="signInWithgoogle()"></asl-google-signin-button>
     <img src="../../../assets/img/facebook.png" width="40px" height="40px" (click)="signInWithFB()">
   </div> -->
   
<!-- @if(user){
<img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
<div>
     <h4>{{ user.name }}</h4>
     <p>{{ user.email }}</p>
</div>
} -->

<div class="d-flex align-items-center">
     <asl-google-signin-button type="icon" size="large" class="me-3"></asl-google-signin-button>
     <img src="../../../assets/img/facebook.png" width="40px" height="40px" (click)="signInWithFB()">
   </div>
   
   