<div class="card bottomSpace">
    <div class="card-body">
       
        <form class="d-flex">
            <img [src]="picture ? picture : imageUrl" class="card-img-top bordered-image" alt="image">
            <input class="form-control me-2 " type="search" placeholder="Start the Post ..."  (click)="openDialogBox()"
                style="border-radius: 20px;" aria-label="Search">
              
        </form>
        <div class="d-flex justify-content-center">
            <p class="setText" ><mat-icon style="color: aquamarine;">wallpaper</mat-icon> Photo</p>
            <p class="setText" ><mat-icon style="color: aqua;">play_circle_filled</mat-icon> Video</p>
            <p class="setText"><mat-icon  style="color: yellow;">event</mat-icon> Event</p>
            <p class="setText" ><mat-icon style="color: red;">chat</mat-icon> Write Article</p>
          </div>
          
    </div>
</div>